detection/coral_devboard/frigate2nxpushover.json
[{"id":"43512600.c57bf8","type":"tab","label":"Frigate with NX and mumble and pushover","disabled":false,"info":""},{"id":"e5b38451.a1f2b8","type":"mqtt-broker","name":"frigate","broker":"192.168.1.181","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a4a3bdf6.71f3f","type":"pushover-keys","name":""},{"id":"22711280.a7679e","type":"comment","z":"43512600.c57bf8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":330,"y":80,"wires":[]},{"id":"c01c1be9.5a4a18","type":"mqtt in","z":"43512600.c57bf8","name":"frigate","topic":"frigate/#","qos":"2","datatype":"auto","broker":"e5b38451.a1f2b8","nl":false,"rap":false,"x":190,"y":560,"wires":[["b87bc0b4.74f48"]]},{"id":"b87bc0b4.74f48","type":"switch","z":"43512600.c57bf8","name":"camera list","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"entrance","vt":"str"},{"t":"cont","v":"garage","vt":"str"},{"t":"cont","v":"office","vt":"str"},{"t":"cont","v":"ptz","vt":"str"},{"t":"cont","v":"kitchen","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":350,"y":560,"wires":[["54478458.ec7eac"],["a8c1a08a.52633"],["79231f7.21445e"],["d0ab1e7e.6c49b"],["ada0ea69.21ceb8"]]},{"id":"54478458.ec7eac","type":"switch","z":"43512600.c57bf8","name":"entrance","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"person","vt":"str"},{"t":"cont","v":"car","vt":"str"},{"t":"cont","v":"truck","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":540,"y":420,"wires":[["b3f516ac.270c58","b0b0b5b8.628df8","4bc62101.74b2f"],[],[]]},{"id":"a8c1a08a.52633","type":"switch","z":"43512600.c57bf8","name":"garage","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"person","vt":"str"},{"t":"cont","v":"car","vt":"str"},{"t":"cont","v":"truck","vt":"str"},{"t":"cont","v":"cat","vt":"str"},{"t":"cont","v":"dog","vt":"str"},{"t":"cont","v":"animal","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":540,"y":580,"wires":[["c660b299.0d9b","74969fa5.1d294","de20e85f.d51d28","3b0e54ab.a7ce9c"],["fbd1c027.b6ef4"],[],["3a8c1a3.6ad71e6","1e7f7aef.daea65"],["3a8c1a3.6ad71e6","1e7f7aef.daea65"],["3a8c1a3.6ad71e6","1e7f7aef.daea65"]]},{"id":"79231f7.21445e","type":"switch","z":"43512600.c57bf8","name":"office","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"person","vt":"str"},{"t":"cont","v":"car","vt":"str"},{"t":"cont","v":"truck","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":800,"wires":[["e9e6c7d8.bd1358"],[],[]]},{"id":"b151cc3c.52c4","type":"debug","z":"43512600.c57bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1120,"wires":[]},{"id":"d0ab1e7e.6c49b","type":"switch","z":"43512600.c57bf8","name":"ptz","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"person","vt":"str"},{"t":"cont","v":"car","vt":"str"},{"t":"cont","v":"truck","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":1000,"wires":[["39fc1ce4.77e084","6fadaca6.75d6d4"],["1dc92505.e5ef4b","5fd4b89a.8ecf68","9ac17485.338a08","2ee840e1.694bd"],["1dc92505.e5ef4b","5fd4b89a.8ecf68","9ac17485.338a08","2ee840e1.694bd"]]},{"id":"4343f031.35cf7","type":"file","z":"43512600.c57bf8","name":"Write JPG","filename":"/usr/src/node-red/attachment/snapshot-latest.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":990,"y":1180,"wires":[[]]},{"id":"4062efab.b23a2","type":"pushover api","z":"43512600.c57bf8","keys":"a4a3bdf6.71f3f","title":"","name":"GF2","x":1550,"y":740,"wires":[]},{"id":"2b9a0252.4a9e8e","type":"function","z":"43512600.c57bf8","name":"Vehicle Payload","func":"msg.payload = \"Vehicle - Driveway\";\nmsg.topic = \"Vehicle Detected\";\nmsg.device = \"MyDevice\";\nmsg.priority = 1;\nmsg.image = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nmsg.attachment = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1120,"wires":[["439f7578.c3aa7c"]]},{"id":"8b5e09c1.c24588","type":"function","z":"43512600.c57bf8","name":"Person Pushover","func":"msg.payload = \"Person - Driveway\";\nmsg.topic = \"Person Detected\";\nmsg.device = \"MyDevice\";\nmsg.image = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nmsg.attachment = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1080,"wires":[["439f7578.c3aa7c"]]},{"id":"f1aa360.aed66c8","type":"function","z":"43512600.c57bf8","name":"Person Pushover","func":"msg.payload = \"Person - Entrance\";\nmsg.topic = \"Person Detected\";\nmsg.device = \"MyDevice\";\nmsg.image = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nmsg.attachment = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":440,"wires":[["1c83a947.897c67"]]},{"id":"a7d53a47.7bd0b8","type":"function","z":"43512600.c57bf8","name":"Person Pushover","func":"msg.payload = \"Person - Garage\";\nmsg.topic = \"Person Detected\";\nmsg.device = \"MyDevice\";\nmsg.image = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nmsg.attachment = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":600,"wires":[["8710c7f9.186be8"]]},{"id":"4dc395ca.caed9c","type":"function","z":"43512600.c57bf8","name":"Vehicle Payload","func":"msg.payload = \"Vehicle - Garage\";\nmsg.topic = \"Vehicle Detected\";\nmsg.device = \"MyDevice\";\nmsg.priority = 1;\nmsg.image = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nmsg.attachment = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":640,"wires":[["8710c7f9.186be8"]]},{"id":"6a894701.d4b1d8","type":"function","z":"43512600.c57bf8","name":"Person Pushover","func":"msg.payload = \"Person - Office\";\nmsg.topic = \"Person Detected\";\nmsg.device = \"MyDevice\";\nmsg.image = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nmsg.attachment = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":860,"wires":[["38c0317b.46a8ae"]]},{"id":"f5c1f1a5.209fb","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/office/latest.jpg?bbox=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":840,"wires":[["4343f031.35cf7","6a894701.d4b1d8"]]},{"id":"1dc92505.e5ef4b","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/ptz/latest.jpg?bbox=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":1120,"wires":[["4343f031.35cf7","2b9a0252.4a9e8e"]]},{"id":"fbd1c027.b6ef4","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/garage/latest.jpg?bbox=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":620,"wires":[["4343f031.35cf7"]]},{"id":"b3f516ac.270c58","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/entrance/latest.jpg?bbox=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":440,"wires":[["f1aa360.aed66c8","4343f031.35cf7"]]},{"id":"39fc1ce4.77e084","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/ptz/latest.jpg?bbox=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":1060,"wires":[["8b5e09c1.c24588","4343f031.35cf7"]]},{"id":"c660b299.0d9b","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/garage/latest.jpg?bbox=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":580,"wires":[["a7d53a47.7bd0b8","4343f031.35cf7"]]},{"id":"439f7578.c3aa7c","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (5000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1100,"wires":[["4062efab.b23a2"]]},{"id":"38c0317b.46a8ae","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":840,"wires":[["4062efab.b23a2"]]},{"id":"8710c7f9.186be8","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (5000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":640,"wires":[["4062efab.b23a2","b151cc3c.52c4"]]},{"id":"1c83a947.897c67","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (5000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":440,"wires":[["4062efab.b23a2","b151cc3c.52c4"]]},{"id":"74969fa5.1d294","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return null;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":520,"wires":[["c7aae6e8.7a8d68"]]},{"id":"de20e85f.d51d28","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":560,"wires":[["58cc9573.0cfebc"]]},{"id":"6fadaca6.75d6d4","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (5000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":920,"wires":[["6ac59f6e.c56a6"]]},{"id":"5fd4b89a.8ecf68","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (5000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":960,"wires":[["71aef53b.54d21c"]]},{"id":"5d3f16e0.d900f8","type":"http request","z":"43512600.c57bf8","name":"NX WITNESS","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://ai:ai123456@192.168.1.198:7001/api/createEvent?source={{{source}}}&caption={{{caption}}}&description={{{description}}}&metadata={{{metadata}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":1560,"y":780,"wires":[["b151cc3c.52c4"]]},{"id":"e9e6c7d8.bd1358","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":780,"wires":[["a5fce821.f8e7d8"]]},{"id":"a5fce821.f8e7d8","type":"function","z":"43512600.c57bf8","name":"NX Person Final","func":"msg.source = \"frigate-office\";\nmsg.caption = \"Person Detected at Office\";\nmsg.description = \"Object Detection by OSIDS\";\nmsg.metadata = '{\"cameraRefs\":[\"5bdd2b73-2485-c4d8-c25b-45a65cd02e57\"]}'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":780,"wires":[["5d3f16e0.d900f8"]]},{"id":"6ac59f6e.c56a6","type":"function","z":"43512600.c57bf8","name":"NX Person","func":"msg.source = \"frigate-ptz\";\nmsg.caption = \"Person Detected - Driveway\";\nmsg.description = \"OSIDS\";\nmsg.metadata = '{\"cameraRefs\":[\"37b1d81f-98aa-d3b6-4bd8-bcc78e3eb5e2\"]}'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":920,"wires":[["5d3f16e0.d900f8"]]},{"id":"71aef53b.54d21c","type":"function","z":"43512600.c57bf8","name":"NX Vehicle","func":"msg.source = \"frigate-ptz\";\nmsg.caption = \"Vehicle Detected - Driveway\";\nmsg.description = \"OSIDS\";\nmsg.metadata = '{\"cameraRefs\":[\"37b1d81f-98aa-d3b6-4bd8-bcc78e3eb5e2\"]}'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":960,"wires":[["5d3f16e0.d900f8"]]},{"id":"58cc9573.0cfebc","type":"function","z":"43512600.c57bf8","name":"NX Vehicle","func":"msg.source = \"frigate-garage\";\nmsg.caption = \"Vehicle%20Detected\";\nmsg.description = \"OSIDS\";\nmsg.metadata = \"%7B%22cameraRefs%22%3A%5B%22a7494e4c-c00b-dbc9-541d-20d6e4244c1c22%22%5D%7D\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":560,"wires":[[]]},{"id":"c7aae6e8.7a8d68","type":"function","z":"43512600.c57bf8","name":"NX Person","func":"msg.source = \"frigate-garage\";\nmsg.caption = \"Person%20Detected\";\nmsg.description = \"Object%20Detection\";\nmsg.id = \"a7494e4c-c00b-dbc9-541d-20d6e4244c1c\";\nmsg.metadata = \"%7B%22cameraRefs%22%3A%5B%22\" + msg.id + \"22%22%5D%7D\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":520,"wires":[["5d3f16e0.d900f8"]]},{"id":"ada0ea69.21ceb8","type":"switch","z":"43512600.c57bf8","name":"kitchen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"person","vt":"str"},{"t":"cont","v":"car","vt":"str"},{"t":"cont","v":"truck","vt":"str"},{"t":"cont","v":"dog","vt":"str"},{"t":"cont","v":"cat","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":440,"y":1300,"wires":[[],[],[],[],[]]},{"id":"89ad5e26.29331","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (10000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1400,"wires":[["3fd51038.7197a"]]},{"id":"3fd51038.7197a","type":"function","z":"43512600.c57bf8","name":"NX Dog","func":"msg.source = \"frigate-kitchen\";\nmsg.caption = \"Dog%20Detected\";\nmsg.description = \"Luka%20Detection\";\nmsg.id = \"0d01a5ac-97db-fced-de32-637d00e725a9\";\nmsg.metadata = \"%7B%22cameraRefs%22%3A%5B%22\" + msg.id + \"22%22%5D%7D\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1400,"wires":[["5d3f16e0.d900f8"]]},{"id":"d340bd57.14aa9","type":"function","z":"43512600.c57bf8","name":"NX Person","func":"msg.source = \"frigate-kitchen\";\nmsg.caption = \"Person%20Detected\";\nmsg.description = \"Object%20Detection\";\nmsg.id = \"0d01a5ac-97db-fced-de32-637d00e725a9\";\nmsg.metadata = \"%7B%22cameraRefs%22%3A%5B%22\" + msg.id + \"22%22%5D%7D\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":1240,"wires":[["5d3f16e0.d900f8"]]},{"id":"5f2470e0.c9323","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1260,"wires":[["d340bd57.14aa9"]]},{"id":"b0b0b5b8.628df8","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return null;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":380,"wires":[["71abbb73.9f9174"]]},{"id":"71abbb73.9f9174","type":"function","z":"43512600.c57bf8","name":"NX Person","func":"msg.source = \"frigate-garage\";\nmsg.caption = \"Person%20Detected\";\nmsg.description = \"Object%20Detection\";\nmsg.id = \"a46841f7-21df-adb2-35d9-37b1f7fbe9d2\";\nmsg.metadata = \"%7B%22cameraRefs%22%3A%5B%22\" + msg.id + \"22%22%5D%7D\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1329.765380859375,"y":377.9647216796875,"wires":[["5d3f16e0.d900f8"]]},{"id":"29a951e.5c71fae","type":"function","z":"43512600.c57bf8","name":"Animal Payload","func":"msg.payload = \"Animal - Garage\";\nmsg.topic = \"Animal Detected\";\nmsg.device = \"MyDevice\";\nmsg.priority = 1;\nmsg.image = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nmsg.attachment = \"/usr/src/node-red/attachment/snapshot-latest.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":680,"wires":[["8710c7f9.186be8"]]},{"id":"3a8c1a3.6ad71e6","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/garage/latest.jpg?bbox=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":660,"wires":[["29a951e.5c71fae","4343f031.35cf7"]]},{"id":"1e7f7aef.daea65","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return null;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":720,"wires":[["73871677.d247e8"]]},{"id":"73871677.d247e8","type":"function","z":"43512600.c57bf8","name":"NX Animal","func":"msg.source = \"frigate-garage\";\nmsg.caption = \"Animal%20Detected\";\nmsg.description = \"Object%20Detection\";\nmsg.id = \"a46841f7-21df-adb2-35d9-37b1f7fbe9d2\";\nmsg.metadata = \"%7B%22cameraRefs%22%3A%5B%22\" + msg.id + \"22%22%5D%7D\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":720,"wires":[["5d3f16e0.d900f8","b151cc3c.52c4"]]},{"id":"b9b52eee.9caf6","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (2000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1440,"wires":[["a3832316.fb67d"]]},{"id":"a3832316.fb67d","type":"function","z":"43512600.c57bf8","name":"NX Cat","func":"msg.source = \"frigate-kitchen\";\nmsg.caption = \"Cat%20Detected\";\nmsg.description = \"Cat%20Detection\";\nmsg.id = \"0d01a5ac-97db-fced-de32-637d00e725a9\";\nmsg.metadata = \"%7B%22cameraRefs%22%3A%5B%22\" + msg.id + \"22%22%5D%7D\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1440,"wires":[["5d3f16e0.d900f8"]]},{"id":"9ac17485.338a08","type":"http request","z":"43512600.c57bf8","name":"Snapshot URL","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.181:5000/api/ptz/latest.jpg?bbox=0","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":1020,"wires":[["b08349f7.acdc58"]]},{"id":"b08349f7.acdc58","type":"file","z":"43512600.c57bf8","name":"Write JPG","filename":"/usr/src/node-red/attachment/carnet.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1010,"y":1020,"wires":[[]]},{"id":"27d6cfaa.b0a04","type":"http request","z":"43512600.c57bf8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.181:9000/hooks/mumble?message={{message}}","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":860,"wires":[["b151cc3c.52c4"]]},{"id":"897f6aaa.d70da8","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1320,"wires":[["7a0d88d8.06bbc8"]]},{"id":"7a0d88d8.06bbc8","type":"function","z":"43512600.c57bf8","name":"Mubmle Person Alert","func":"msg.message = \"Person detected in Office or Porch\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1320,"wires":[[]]},{"id":"2ee840e1.694bd","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1200,"wires":[["89735f39.0b65c"]]},{"id":"89735f39.0b65c","type":"function","z":"43512600.c57bf8","name":"Mubmle VehicleAlert","func":"msg.message = \"Vehicle detected in the Driveway\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1200,"wires":[["27d6cfaa.b0a04"]]},{"id":"3b0e54ab.a7ce9c","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":720,"wires":[["bf2f5c3e.c6fc6"]]},{"id":"bf2f5c3e.c6fc6","type":"function","z":"43512600.c57bf8","name":"Mubmle Person Alert","func":"msg.message = \"Person detected by the Garage\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":720,"wires":[["27d6cfaa.b0a04"]]},{"id":"4bc62101.74b2f","type":"function","z":"43512600.c57bf8","name":"Rate Limiter","func":"var interval = (7000); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":500,"wires":[["d08e714.1f1c59"]]},{"id":"d08e714.1f1c59","type":"function","z":"43512600.c57bf8","name":"Mubmle Person Alert","func":"msg.message = \"Person detected at the Front Door Entrance\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":500,"wires":[["27d6cfaa.b0a04"]]}]
